[submodule "api-mito-students"]
	path = api-mito-students
	url = https://github.com/sebashh26/mito-students
[submodule "bd-mito-students"]
	path = bd-mito-students
	url = https://github.com/sebashh26/mito-students-db
